body{
     margin:0; 
    padding-top: 800px;
}
.profile{
    width:175px;
    margin-bottom:50px;
    border-radius: 50%;
}
#welcome{
    overflow:hidden;
    position: absolute;
    height: 800px;
     color: #ffffff;
     left: 0;
    right:0;
    top:0;
    bottom:0;
    opacity: 0.85;
    background:linear-gradient(#caf2c7 0%,#00619e 100%);
    display: table;
    width:100%;
    height:100%; 
    z-index:9;
}
h1{
    font-size:40px;
    font-weight: 300;
    font-family: fantasy;   
}
h2{
    font-size:20px;
    line-height: 1.2;
    font-weight: 300;
    font-family:cursive;  
}
#name{
  font-size:25px;
    line-height: 1.2;
    font-weight: 300;
    font-family:cursive;
    font-family: 'Goblin One', cursive;    
}
#bio{
    text-align:center;
}
.line{
    height:6px; 
    background-color:crimson;
    width:70px;
    margin:auto;
}
p{
    margin:auto;
    font-size:20px;
    line-height: 1.3;
}
.parallax-inner{
    display: table-cell;
    position:relative;
    text-align:center;
    vertical-align:middle;
}
.menu{
    list-style: none;
    font-family: fantasy;
    top:10px;
    right:5px;
    z-index: 10;
    cursor:pointer;
    position:absolute;
}
.links{
    float:left;
    color:darkcyan;
    padding-top: 5px;
    padding-left:9px;
    padding-right: 9px;
    padding-bottom:5px;
    font-family:cursive;
    font-size:20px;
}
.links:hover{
    background-color: firebrick;
}
    


